#page-clip {
	overflow: hidden;
	width: 100%;
}

#mobile-menu  {
	-moz-transition: all 0.2s linear;
	-webkit-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	transition: all 0.2s linear;
	padding-top: .5em;
	width: 100%;
}

#mobile-menu {
	margin-left: -100%;
	float: left;
	padding-bottom: 60em;
	z-index: 2;
}

#mobile-menu ul {
	float: none;
	padding: 0;
	margin: 0;
	border: none;
	list-style: none;
}

#mobile-menu ul li span {
	display: inline-block;
	padding: 1em;
}

#mobile-menu .menu-item-has-children {
	cursor: pointer;
}

#mobile-menu .menu .menu-item-has-children > div .arrow:before {
	content: '\f431';
	color: #aaa;
	font-size: 1.5em;
}

#mobile-menu .menu .menu-item-has-children > div .arrow.open:before {
	content: '\f432';
}

#mobile-menu ul ul ul ul ul .menu-item-has-children .arrow {
	visibility: hidden;
}

#mobile-menu ul li ul {
	display: none;
}

.active-nav #mobile-menu {
	margin-left: 0;
	width: 80%;
}

#nav-toggle {
	-moz-transition: all 0.2s linear;
	-webkit-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	transition: all 0.2s linear;
	padding-top:3px;
	position: absolute;
	z-index: 999;
	top: 0;
	left: 0;
	height: 3em;
	width: 4em;
	background: #333;
	color: #fff;
	display: none;
}

#nav-toggle .toggle {
	font-size: 1.5em;
	padding: .25em .75em;
}

#nav-toggle .toggle:before {
	content: '\f419';
}

.active-nav #nav-toggle .toggle:before {
	content: '\f406';
}

.admin-bar #nav-toggle {
	top: 46px;
}

.active-nav #nav-toggle {
	left: 80%;
}

#page-wrap {
	float: left;
	margin-left: 0;
	z-index: 1;
	-moz-transition: all 0.2s linear;
	-webkit-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	transition: all 0.2s linear;
}

.active-nav #page-wrap {
	margin-right:-100%;
}

.mobile-header {
	display:none;
	height: 3em;
	padding-right: 2em;
	text-align: right;
}